div.progress-bar {
  display: inline-block;
  width: 100%;
  height: 0.2em;
  background-color: gainsboro;
  overflow: hidden;
  border-radius: 0.2em;
}

div.progress-bar-value {
  height: 100%;
  transition: width 0.5s linear;
  background-color: rgb(66, 135, 245);
  border-radius: 0.2em;
}
