@font-face {
  font-family: "OpenSans";
  src: url("./fonts/OpenSans-Regular.ttf");
  font-weight: normal;
}

@font-face {
  font-family: "OpenSans";
  src: url("./fonts/OpenSans-Bold.ttf");
  font-weight: bold;
}

* {
  font-family: OpenSans, arial;
}

body {
  margin: 0px;
  padding: 0px;
}
